<div style="background-color: #007fff; height: 600px; width: 1500px">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="intro">
      <img class="img1" src="assets/keshav2.jpg" alt="MyPhoto" />
      <p class="iam">I'm</p>
      <p class="name">KESHAV GAVHANE</p>

      <button class="downloadcv">Download CV</button>

      <i
        class="fa fa-youtube-play"
        style="font-size: 40px; color: white; padding-left: 100px"
      ></i>
    </div>
  </div>
