
<div class=""
      style="
        font-size: 300%;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
        display: inline;
      "
    >
      <span
        style="
          padding-left: 100px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 300;
          color: #007fff;
        "
        >KESHAV</span
      >GAVHANE
  </div>

    <div id="navbar">
      <a class="active" href="#home">Home</a>
      <a href="about">About</a>
      <a href="quality">Quality</a>
      <a href="skilss">Skills</a>
      <a href="#about">Service</a>
      <a href="#about">Certificates</a>
      <a href="#about">Review</a>
      <a href="#about">Contact</a>
      <button class="hireme1">Hire Me</button>
    </div>
