<div>
    <h1  id="contactme" >CONTACT ME</h1>
  </div>



 <div class="form-control">
    
    <input type="text" id="yourname" name="yourname" placeholder="Your Name">
    <input type="text" id="youremail" name="youremail" placeholder="Your Email">
    <input type="text" id="subject" name="subject" placeholder="Subject">
    <textarea id="msg" name="msg" placeholder="Write Message"></textarea>
    <input type="button" value="Send Message" class="sendmsg">
    </div>

  <div class="social">
    <div>
    <a href="https://www.facebook.com/"  title="facebook"> 
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="#" title="twitter"> 
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/" title="instagram">  
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    
    <a href="https://www.linkedin.com/in/keshav-b-4928b1287/" title="linkedin">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </div>
  <div class="policy">
    <a href="#" title="Privacy" > Privacy</a>
    <a href="#" title="Terms">Terms</a>
    <a href="#" title="FAQ">FAQ</a>
    <a href="#" title="Help">Help</a>

    </div>

    <div class="copyright" >
      
      <p >&copy; <b>www.Keshavgavhane.com</b>. All Rights Reserved. Designed by <span ><b>Keshav Gavhane</b></span></p>
    </div>
  </div>
  