<div>
  <h1 class="about">ABOUT ME</h1>
  <img class="img2" src="assets/keshav.jpg" alt="MyPhoto" />

  <div class="ui">
    <h2 style="padding-left: 700px; font-family: 'Roboto', sans-serif">
      UI/UX Designer & Web Developer
    </h2>

    <p style="padding-left: 700px; font-family: 'Roboto', sans-serif">
      I have been working as a Software engineer, web designer and front-end
      developer since 2017. I’ve always been someone who has both a creative and
      a logical side. When I discovered web design in college, I realized it
      would be the perfect fit. I could use my creative side to design and my
      logical side to code. As a bonus, being both designer and developer allows
      me to make sure no detail is lost in translation.
    </p>
  </div>

  <div
    class="name1"
    style="
      width: 20%;
      float: left;
      padding-left: 195px;
      font-family: 'Roboto', sans-serif;
    "
  >
    <p>Name: Keshav Gavhane</p>
    <p>Degree: Bachelor of Engineering</p>
    <p>Phone: +91 8698981527</p>
    <p>Address: Maharashtra, INDIA</p>
    <button class="hireme2bt">Hire Me</button>
    <button class="learnmorebt">Learn More</button>
  </div>

  <div
    class="name2"
    style="
      width: 20%;
      float: right;
      padding-left: 100px;
      font-family: 'Roboto', sans-serif;
    "
  >
    <p>Birthday: 12 June 1995</p>
    <p>Experience: 3 Years</p>
    <p>Email: keshavgavhane999@gmail.com</p>
    <p>Freelance: Available</p>
  </div>
</div>
<div>
  <h1 class="eduandexp">EDUCATION & EXPERIENCE</h1><br><br>
  <div class="edu">
  <h2>My Education</h2>
  <h3>Sinhgad Academy of Engineering</h3>
  <h4>Information Technology | Pune University(SPPU) | </h4>
  <p>Sinhgad Academy of Engineering (SAE) was established in year 2005. SAE is approved by All India Council for Technical Education (AICTE), New Delhi, Directorate of Technical Education (DTE), Mumbai, and is affiliated to Savitribai Phule Pune University, Pune. The institute is accredited with “A” grade by National Assessment and Accreditation Council (NAAC).</p>
  <h3>Institute of Civil and Rural Engineering, Kolhapur</h3>
  <h4>Computer Engineering | Mumbai University(MSBTE) | </h4>
  <p>Institute of Civil and Rural Engineering Kolhapur (ICRE) located at - - Maharashtra is one of the popular colleges in India. This College is counted among the top-rated Colleges in Maharashtra with an excellent academic track record.</p>      
  </div>
  <div class="exp">
  <h2>My Experience</h2>
  <h3>Persistent Systems Ltd.</h3>
  <h4>Lead Software Engineer | December 2021 – PRESENT</h4>
  
  <p>Persistent Systems is an Indian multinational technology services company which was incorporated on 16 May 1990.</p>
  
    </div>
    </div>