.img2{
    width: 400px;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 100px;
    float: inline-start;

  }
.hireme2bt:hover {
  background-color: #007fff;
  color:white;
  }
  .hireme2bt {

  border-radius: 8px;
  border-color: #007fff;
  color:#007fff;
  padding: 10px 15px;
  text-align:center;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  }
  .learnmorebt:hover {
    background-color: #007fff;
    color:white;
    }
    .learnmorebt {
  
    border-radius: 7px;
    border-color: #007fff;
    color:#007fff;
    padding: 10px 15px;
    text-align:center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 20px 20px;
    }
    .about{
      text-align: center;
            color: #007fff;
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            font-weight: 900;
    }

    .eduandexp{

      padding-top: 400px;
      margin-top: 50px;
          color: #007fff;
          font-family: 'Roboto', sans-serif;
          font-size: 40px;
          font-weight: 900;
          width: 100%;
          
    }
  
.edu{
  width: 500px;
  height: 100%;
  float: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 50px;
 

}
.exp{
  
  width: 500px;
  margin-left: 50%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  float: right;
    margin-top: -450px;
    padding-right: 150px
  
}